@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Enforcing Nunito globally */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-semibold text-secondary;
    /* Reduced weight */
    /* Defaulting titles to secondary color */
  }

  body {
    @apply font-body text-gray-600;
    /* Uniform text color */
  }
}

.font-display {
  font-family: 'Nunito', sans-serif;
}

@layer utilities {
  @keyframes bounce-subtle {

    0%,
    100% {
      transform: translateY(-8%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .animate-bounce-subtle {
    animation: bounce-subtle 3s infinite;
  }
}